.container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.content-box {
    width: 500px;
    height: 400px;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #e4e8eb;
    padding: 20px;
}

.content-box h1 {
    text-align: center;
    font-size: 1.5em;
}

.content-box h2 { 
    text-align: left;
    font-size: 1.2em;
}

.password-box {
    background-color: #fff;
    height: 75%;
    padding: 5px;
    border: 1px solid #707070;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;

}

.password-output {
    background-color: #fff;
    height: 50%;
    width: 90%;
    margin: 5%;
    border: 1px dashed #BEBEBE;
    border-radius: 5px;
}

hr {
    border-top: 1px solid #BEBEBE;
}

button {
    background-color: #A7171A;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 5px;
    width: 180px;
    height: 30px;
}